/*====================================================================================================================
                Resume Form
====================================================================================================================*/
body{
/*    background:rgba(170,170,170,0.7);*/
    height: 100%;
    width: 100%;
}

.button-section{
/*    margin-top: 60px;*/
    width: 30%;
    margin: 12% auto ;
    
}
.resume-buttons{
    font-size: 1.5em;
}
.button-margin-bottom{
    margin-bottom: 10%;
}
